<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<title>Admin</title>
<th:block th:insert="component/common-css :: common-css"></th:block>
<th:block th:insert="component/common-js :: common-js"></th:block>

<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}

.sel {
	height: 34px;
	padding: 6px 12px;
}
</style>
<body class="w3-light-grey">

	<th:block th:if="message != null">
		<input type="hidden" th:value="${message}" id="mess" />
		<script>
			var mess = document.getElementById("mess");
			if (mess.value !== "") {
				alert(mess.value);
				console.log("+" + mess.value + "+");
			}
		</script>
	</th:block>

	<div class="w3-bar w3-top w3-black w3-large" style="z-index: 4">
		<button
			class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
			onclick="w3_open();">
			<i class="fa fa-bars"></i> Menu
		</button>
		<span class="w3-bar-item w3-right"> Admin </span>
	</div>

	<nav class="w3-sidebar w3-collapse w3-white"
		style="z-index: 3; width: 300px;" id="mySidebar">
		<br>
		<div class="w3-container w3-row">
			<div class="w3-col s4">
				<img th:src="@{/images/admin_avatar.jpg}"
					class="w3-circle w3-margin-right" style="width: 46px">
			</div>
			<div class="w3-col s8 w3-bar">
				<span>Welcome, <strong>Admin</strong></span><br> <a
					class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> <a
					class="w3-bar-item w3-button"><i class="fa fa-user"></i></a> <a
					class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
			</div>
		</div>
		<hr>
		<div class="w3-container">
			<h5>My Dashboard</h5>
		</div>
		<div class="w3-bar-block">
			<a th:href="@{/admin/account/student}"
				class="w3-bar-item w3-button
			w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
				onclick="w3_close()" title="close menu"><i
				class="fa fa-remove fa-fw"></i> Close Menu</a> <a
				onclick="myAccFunc('account')" href="javascript:void(0)" id="myBtn"
				class="w3-bar-item w3-button w3-padding w3-blue"> <i
				class="fas fa-address-book"></i> Account
			</a>
			<div id="account" class="w3-bar-block w3-hide w3-padding w3-show">
				<a th:href="@{/admin/account/student}"
					class="w3-bar-item w3-button w3-padding"> Student</a> <a
					th:href="@{/admin/account/teacher}"
					class="w3-bar-item w3-button w3-padding"> Teacher</a> <a
					th:href="@{/admin/account/detail}"
					class="w3-bar-item w3-button w3-padding w3-blue"><i
					class="fa fa-caret-right w3-margin-right"></i> Detail</a>
			</div>

			<a onclick="myAccFunc('subject')" href="javascript:void(0)"
				id="myBtn" class="w3-bar-item w3-button w3-padding"> <i
				class="fas fa-book-open"></i> Subject
			</a>
			<div id="subject" class="w3-bar-block w3-hide w3-padding">
				<a href="" class="w3-bar-item w3-button w3-padding"
					th:href="@{/admin/subject}"> Subject List</a> <a href=""
					class="w3-bar-item w3-button w3-padding"
					th:href="@{/admin/subject/detail}">Subject Detail
				</a>
			</div>

			<a href="" class="w3-bar-item w3-button w3-padding"> <i
				class="fas fa-chalkboard-teacher"></i> Student's Subject
			</a>

			<form th:action="@{/logout}" method="POST">
				<span class="input-group-btn">
					<button class="btn btn-default w3-button w3-padding w3-bar-item"
						type="submit">
						<span class="fas fa-sign-out-alt fa-fw"></span> Logout
					</button>
				</span>
			</form>
			<br> <br>
		</div>
	</nav>


	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity"
		onclick="w3_close()" style="cursor: pointer" title="close side menu"
		id="myOverlay"></div>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left: 300px; margin-top: 43px;">
		<header class="w3-container" style="padding-top: 22px">
			<h2>
				<b><i class="fas fa-user-edit fa-fw"></i> Edit Profile</b>
			</h2>
		</header>
		<!-- Header -->
		<div class="panel-body">
			<div class="card-body">
				<form method="POST"
					th:action="@{/admin/account/teacher/{teaId}(teaId=${teacher.teaId})}"
					th:object="${teacher}">
					<div class="row register-form">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Name</span>
								</div>
								<input type="text" class="form-control" th:field="*{teaName}"
									placeholder="Your First Name *" name="firstname" required />
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Phone Number</span>
								</div>
								<input type="text" maxlength="10" name="phone"
									th:field="*{teaPhone}" class="form-control"
									placeholder="Your Phone *" />
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">New Password</span>
								</div>
								<div class="input-group">
									<input type="password" class="form-control" id="pass"
										placeholder="New Password *" name="newPass" /> <span
										class="input-group-btn">
										<button class="btn btn-default form-control" type="button"
											onclick="showPass('pass')">
											<span class="fas fa-eye"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Confirm Password</span>
								</div>
								<div class="input-group">
									<input type="password" class="form-control" id="confirmPass"
										placeholder="Confirm Password *" name="confirmPass" /><span
										class="input-group-btn">
										<button class="btn btn-default form-control" type="button"
											onclick="showPass('confirmPass')">
											<span class="fas fa-eye"></span>
										</button>
									</span>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Address</span>
								</div>
								<input type="text" class="form-control" th:field="*{teaAddress}"
									placeholder="Your Address " name="address" />
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">School</span>
								</div>
								<input type="text" maxlength="10" name="school"
									th:field="*{teaSchool}" class="form-control"
									placeholder="Your School *" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Gender</span>
								</div>
								<select class="form-control" name="gender"
									th:field="*{teaGender}">
									<option th:value="'M'" th:text="Male"></option>
									<option th:value="'F'" th:text="Female"></option>
								</select>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">BirthDate</span>
								</div>
								<input class="form-control" name="birthdate"
									th:value="*{#dates.format(teaBirthdate, 'yyyy-MM-dd')}"
									type="date">
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Email</span>
								</div>
								<input type="email" class="form-control" th:field="*{teaEmail}"
									placeholder="Your Email *" name="email" disabled />
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">Salary Rate</span>
								</div>
								<input type="text" class="form-control"
									placeholder="Your Salary Rate *" th:field="*{teaSalaryrate}"
									name="salaryRate" disabled />
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">HireDate</span>
								</div>
								<input class="form-control" name="hiredate"
									th:value="*{#dates.format(teaHiredate, 'yyyy-MM-dd')}"
									type="date" disabled>
							</div>
							<div class="form-group">
								<div class="input-group-prepend">
									<span class="input-group-text">User Type</span>
								</div>
								<input type="text" class="form-control" value="Teacher" disabled />
							</div>
							<div class="form-group">
								<input type="hidden" class="form-control" th:field="*{teaEmail}"
									name="email" />
							</div>
						</div>
					</div>
					<button class="w3-btn w3-blue">Update</button>
				</form>
			</div>
		</div>
		<hr>
		<hr>
		<div class="w3-container w3-dark-grey w3-padding-32">
			<div class="w3-row">
				<div class="w3-container w3-third">
					<h5 class="w3-bottombar w3-border-green">User</h5>
					<p>Student</p>
					<p>Teacher</p>
					<p>Manager</p>
				</div>
				<div class="w3-container w3-third">
					<h5 class="w3-bottombar w3-border-red">System</h5>
					<p>Browser</p>
					<p>OS</p>
					<p>More</p>
				</div>
				<div class="w3-container w3-third">
					<h5 class="w3-bottombar w3-border-orange">Target</h5>
					<p>School</p>
					<p>Teaching Center</p>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer class="w3-container w3-padding-16 w3-light-grey">
			<h4>FOOTER</h4>
			<p>
				Powered by <a
					th:href="@{https://www.w3schools.com/w3css/default.asp}"
					target="_blank">w3.css</a>
			</p>
		</footer>
	</div>


	<script>
		var mySidebar = document.getElementById("mySidebar");
		var overlayBg = document.getElementById("myOverlay");
	</script>
</body>
</html>