<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanlytrungtamdayhoc.mapper.StudentMapper">
	<resultMap id="StudentMapper" type="com.quanlytrungtamdayhoc.dbo.Student">
		<id property="stuId" column="STU_ID"/>
		<result property="stuEmail" column="STU_EMAIL"/>
		<result property="stuName" column="STU_NAME"/>
		<result property="stuPhone" column="STU_PHONE"/>
		<result property="stuAddress" column="STU_ADDRESS"/>
		<result property="stuGender" column="STU_GENDER"/>
		<result property="stuBirthdate" column="STU_BIRTHDATE"/>
		<result property="stuJoindate" column="STU_JOINDATE"/>
		<result property="stuSchool" column="STU_SCHOOL"/>
		<result property="stuAvatar" column="STU_AVATAR"/>
	</resultMap>
	
	<select id="getAllStudent" resultMap="StudentMapper" parameterType="map">
		SELECT *
		FROM STUDENTS
		ORDER BY STU_JOINDATE DESC
	</select>
	
	<select id="getStudentByFilter" resultMap="StudentMapper" parameterType="map">
		SELECT *
		FROM STUDENTS
		WHERE 1=1
		<if test="stuName != null and stuName != ''">
			AND STU_NAME = #{stuName}
		</if>
		<if test="stuPhone != null and stuPhone != ''">
			AND STU_PHONE = #{stuPhone}
		</if>
		ORDER BY STU_JOINDATE DESC
	</select>
	
	<select id="getStudent" resultMap="StudentMapper" parameterType="map">
		SELECT *
		FROM STUDENTS
		WHERE 
		<choose>
			<when test="stuId != 0">
				STU_ID = #{stuId}
			</when>
			<when test="stuEmail != null">
				STU_EMAIL = #{stuEmail}
			</when>
		</choose>
	</select>
	
	<update id="updateStudent" parameterType="map">
		UPDATE STUDENTS
		SET STU_NAME = #{student.stuName}
		<if test="student.stuAddress != null">
		, STU_ADDRESS = #{student.stuAddress}
		</if>
		<if test="student.stuSchool != null">
		, STU_SCHOOL = #{student.stuSchool}
		</if>
		<if test="student.stuPhone != null">
		, STU_PHONE = #{student.stuPhone}
		</if>
		<if test="student.stuGender != null">
		, STU_GENDER = #{student.stuGender}
		</if>
		<if test="student.stuAvatar != null">
		, STU_AVATAR = #{student.stuAvatar}
		</if>
		<if test="birthdate != null">
		, STU_BIRTHDATE = #{birthdate}
		</if>
		WHERE STU_ID = #{student.stuId}
	</update>
	
	<insert id="addStudent" parameterType="map">
		INSERT INTO STUDENTS (STU_NAME, STU_PHONE, STU_SCHOOL, STU_EMAIL, STU_JOINDATE)
		VALUES (#{stuName}, #{stuPhone}, #{stuSchool}, #{stuEmail}, CURDATE());
	</insert>
	
</mapper>