<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanlytrungtamdayhoc.mapper.StudentMapper">
	<resultMap id="BaseResultMap"
		type="com.quanlytrungtamdayhoc.dbo.Student">
		<id column="STU_ID" jdbcType="INTEGER" property="stuId" />
		<result column="STU_EMAIL" jdbcType="VARCHAR"
			property="stuEmail" />
		<result column="STU_NAME" jdbcType="VARCHAR" property="stuName" />
		<result column="STU_PHONE" jdbcType="VARCHAR"
			property="stuPhone" />
		<result column="STU_ADDRESS" jdbcType="VARCHAR"
			property="stuAddress" />
		<result column="STU_GENDER" jdbcType="CHAR"
			property="stuGender" />
		<result column="STU_BIRTHDATE" jdbcType="DATE"
			property="stuBirthdate" />
		<result column="STU_JOINDATE" jdbcType="DATE"
			property="stuJoindate" />
		<result column="STU_SCHOOL" jdbcType="VARCHAR"
			property="stuSchool" />
		<result column="STU_AVATAR" jdbcType="VARCHAR"
			property="stuAvatar" />
	</resultMap>

	<select id="getStudentById" parameterType="map"
		resultMap="BaseResultMap">
		SELECT * FROM STUDENTS WHERE STU_ID = #{student_id}
	</select>

	<select id="getStudentByEmail" parameterType="map"
		resultMap="BaseResultMap">
		SELECT * FROM STUDENTS WHERE STU_EMAIL = #{student_email}
	</select>

	<update id="updateStudent" parameterType="map">
		UPDATE STUDENTS
		SET STU_NAME = #{student.stuName}
		<if test="student.stuAddress != null">
			, STU_ADDRESS = #{student.stuAddress}
		</if>
		<if test="student.stuSchool != null">
			, STU_SCHOOL = #{student.stuSchool}
		</if>
		<if test="student.stuPhone != null">
			, STU_PHONE = #{student.stuPhone}
		</if>
		<if test="student.stuGender != null">
			, STU_GENDER = #{student.stuGender}
		</if>
		<if test="student.stuAvatar != null">
			, STU_AVATAR = #{student.stuAvatar}
		</if>
		<if test="birthdate != null">
			, STU_BIRTHDATE = #{birthdate}
		</if>
		WHERE STU_EMAIL = #{email}
	</update>
</mapper>