<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.quanlytrungtamdayhoc.mapper.StudentScoreMapper">
	<resultMap id="StudentScoreMapper"
		type="com.quanlytrungtamdayhoc.dbo.Student_Score">
		<result property="score" column="SCORE" />

		<association property="subject"
			javaType="com.quanlytrungtamdayhoc.dbo.Subject">
			<id property="subId" column="SUB_ID" />
			<result property="subName" column="SUB_NAME" />
			<result property="subStartdate" column="SUB_STARTDATE" />
			<result property="subSchedule" column="SUB_SCHEDULE" />
			<result property="subRoom" column="SUB_ROOM" />
			<result property="subTuition" column="SUB_TUITION"/>

			<association property="teacher"
				javaType="com.quanlytrungtamdayhoc.dbo.Teacher">
				<id property="teaId" column="TEA_ID" />
				<result property="teaEmail" column="TEA_EMAIL" />
				<result property="teaName" column="TEA_NAME" />
				<result property="teaPhone" column="TEA_PHONE" />
				<result property="teaAddress" column="TEA_ADDRESS" />
				<result property="teaGender" column="TEA_GENDER" />
				<result property="teaBirthdate" column="TEA_BIRTHDATE" />
				<result property="teaHiredate" column="TEA_HIREDATE" />
				<result property="teaSchool" column="TEA_SCHOOL" />
				<result property="teaAvatar" column="TEA_AVATAR" />
				<result property="teaSalaryrate" column="TEA_SALARYRATE" />
			</association>
		</association>

		<association property="student"
			javaType="com.quanlytrungtamdayhoc.dbo.Student">
			<id property="stuId" column="STU_ID" />
			<result property="stuEmail" column="STU_EMAIL" />
			<result property="stuName" column="STU_NAME" />
			<result property="stuPhone" column="STU_PHONE" />
			<result property="stuAddress" column="STU_ADDRESS" />
			<result property="stuGender" column="STU_GENDER" />
			<result property="stuBirthdate" column="STU_BIRTHDATE" />
			<result property="stuJoindate" column="STU_JOINDATE" />
			<result property="stuSchool" column="STU_SCHOOL" />
			<result property="stuAvatar" column="STU_AVATAR" />
		</association>
	</resultMap>

	<select id="getTeacherMark" resultMap="StudentScoreMapper"
		parameterType="map">
		SELECT *
		FROM STUDENT_SCORES
		INNER JOIN STUDENTS ON STUDENTS.STU_ID =
		STUDENT_SCORES.STU_ID
		INNER JOIN SUBJECTS ON SUBJECTS.SUB_ID =
		STUDENT_SCORES.SUB_ID
		WHERE SUBJECTS.TEA_ID = #{teaId}
		<if test="subId != 0">
			AND SUBJECTS.SUB_ID = #{subId}
		</if>
		ORDER BY SUBJECTS.SUB_ID DESC
	</select>

	<select id="getStudentScore" resultMap="StudentScoreMapper"
		parameterType="map">
		SELECT *
		FROM STUDENT_SCORES SC
		JOIN STUDENTS ST ON
		SC.STU_ID = ST.STU_ID
		JOIN SUBJECTS SU ON SC.SUB_ID = SU.SUB_ID
		WHERE
		SC.STU_ID = #{stuId}
	</select>

	<select id="getListStudentScore" resultMap="StudentScoreMapper"
		parameterType="map">
		SELECT *
		FROM STUDENT_SCORES SC
		JOIN STUDENTS ST ON
		SC.STU_ID = ST.STU_ID
		JOIN SUBJECTS SU ON SC.SUB_ID = SU.SUB_ID
	</select>

	<update id="updateScore" parameterType="map">
		UPDATE STUDENT_SCORES
		SET
		SCORE = #{score}
		WHERE SUB_ID = #{subId} AND STU_ID = #{stuId}
	</update>

	<insert id="insertSubjectScore" parameterType="map">
		INSERT INTO
		STUDENT_SCORES (STU_ID, SUB_ID)
		VALUES (#{stuId}, #{subId})
	</insert>

	<delete id="deleteStudentSubject" parameterType="map">
		DELETE FROM
		STUDENT_SCORES WHERE SUB_ID = #{subId} AND STU_ID = #{stuId};
	</delete>
</mapper>