<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.quanlytrungtamdayhoc.mapper.StudentScoreMapper">
	<resultMap id="BaseResultMap"
		type="com.quanlytrungtamdayhoc.dbo.StudentScore">
		<result column="SCORE" jdbcType="REAL" property="score" />

		<association property="student"
			javaType="com.quanlytrungtamdayhoc.dbo.Student">
			<id property="stuId" column="STU_ID" />
			<result column="STU_EMAIL" property="stuEmail" />
			<result column="STU_NAME" property="stuName" />
			<result column="STU_PHONE" property="stuPhone" />
			<result column="STU_ADDRESS" property="stuAddress" />
			<result column="STU_GENDER" property="stuGender" />
			<result column="STU_BIRTHDATE" property="stuBirthdate" />
			<result column="STU_JOINDATE" property="stuJoindate" />
			<result column="STU_SCHOOL" property="stuSchool" />
			<result column="STU_AVATAR" property="stuAvatar" />
		</association>

		<association property="subject"
			javaType="com.quanlytrungtamdayhoc.dbo.Subject">
			<id property="subId" column="SUB_ID" />
			<result column="SUB_NAME" property="subName" />
			<result column="SUB_STARTDATE" property="subStartdate" />
			<result column="SUB_SCHEDULE" property="subSchedule" />
			<result column="SUB_ROOM" property="subRoom" />
			<result column="SUB_TUITION" property="subTuition" />

			<association property="teacher"
				javaType="com.quanlytrungtamdayhoc.dbo.Teacher">
				<id property="teaId" column="TEA_ID" />
				<result property="teaEmail" column="TEA_EMAIL" />
				<result property="teaName" column="TEA_NAME" />
				<result property="teaPhone" column="TEA_PHONE" />
				<result property="teaAddress" column="TEA_ADDRESS" />
				<result property="teaGender" column="TEA_GENDER" />
				<result property="teaBirthdate" column="TEA_BIRTHDATE" />
				<result property="teaHiredate" column="TEA_HIREDATE" />
				<result property="teaSchool" column="TEA_SCHOOL" />
				<result property="teaAvatar" column="TEA_AVATAR" />
				<result property="teaSalaryrate" column="TEA_SALARYRATE" />
			</association>
		</association>

	</resultMap>

	<select id="getListStudentScore" resultMap="BaseResultMap"
		parameterType="map">
		SELECT *
		FROM STUDENT_SCORES SC
		JOIN STUDENTS ST ON
		(SC.STU_ID = ST.STU_ID)
		JOIN SUBJECTS SU ON (SC.SUB_ID = SU.SUB_ID)
		WHERE SC.STU_ID = #{stuId}
	</select>

	<insert id="insertSubjectScore" parameterType="map">
		INSERT INTO
		STUDENT_SCORES (STU_ID,SUB_ID,SCORE)
		values (
		#{stuId},#{subId},#{score})
	</insert>

	<delete id="deleteStudentSubjectById" parameterType="map">
		DELETE from STUDENT_SCORES WHERE SUB_ID = #{subId};
	</delete>
</mapper>