<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanlytrungtamdayhoc.mapper.StudentMapper">
	<resultMap id="StudentMapper" type="com.quanlytrungtamdayhoc.dbo.Student">
		<id property="stuId" column="STU_ID"/>
		<result property="stuEmail" column="STU_EMAIL"/>
		<result property="stuName" column="STU_NAME"/>
		<result property="stuPhone" column="STU_PHONE"/>
		<result property="stuAddress" column="STU_ADDRESS"/>
		<result property="stuGender" column="STU_GENDER"/>
		<result property="stuBirthdate" column="STU_BIRTHDATE"/>
		<result property="stuJoindate" column="STU_JOINDATE"/>
		<result property="stuSchool" column="STU_SCHOOL"/>
		<result property="stuAvatar" column="STU_AVATAR"/>
	</resultMap>
	
	<select id="getAllStudent" resultMap="StudentMapper" parameterType="map">
		SELECT *
		FROM STUDENTS
	</select>
	
	<select id="getStudent" resultMap="StudentMapper" parameterType="map">
		SELECT *
		FROM STUDENTS
		WHERE 
		<choose>
			<when test="stuId != 0">
				STU_ID = #{stuId}
			</when>
			<when test="stuEmail != null">
				STU_EMAIL = #{stuEmail}
			</when>
		</choose>
	</select>
</mapper>