<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanlytrungtamdayhoc.mapper.SubjectMapper">
	
	<resultMap id="SubjectMapper" type="com.quanlytrungtamdayhoc.dbo.Subject">
		<id property="subId" column="SUB_ID"/>
		<result property="subName" column="SUB_NAME"/>
		<result property="subStartdate" column="SUB_STARTDATE"/>
		<result property="subSchedule" column="SUB_SCHEDULE"/>
		<result property="subRoom" column="SUB_ROOM"/>
		<result property="subTuition" column="SUB_TUITION"/>
		
		<association property="teacher" javaType="com.quanlytrungtamdayhoc.dbo.Teacher">
			<id property="teaId" column="TEA_ID"/>
			<result property="teaEmail" column="TEA_EMAIL"/>
			<result property="teaName" column="TEA_NAME"/>
			<result property="teaPhone" column="TEA_PHONE"/>
			<result property="teaAddress" column="TEA_ADDRESS"/>
			<result property="teaGender" column="TEA_GENDER"/>
			<result property="teaBirthdate" column="TEA_BIRTHDATE"/>
			<result property="teaHiredate" column="TEA_HIREDATE"/>
			<result property="teaSchool" column="TEA_SCHOOL"/>
			<result property="teaAvatar" column="TEA_AVATAR"/>
			<result property="teaSalaryrate" column="TEA_SALARYRATE"/>
		</association>
	</resultMap>
	
	<select id="getAllSubject" resultMap="SubjectMapper" parameterType="map">
		SELECT *
		FROM SUBJECTS
		JOIN TEACHERS ON SUBJECTS.TEA_ID = TEACHERS.TEA_ID
		WHERE 1=1 
		<if test="year != null and year != ''">
			AND YEAR(SUBJECTS.SUB_STARTDATE) = #{year}
		</if>
		<if test="teaName != null and teaName != ''">
			AND TEACHERS.TEA_NAME = #{teaName}
		</if>
		ORDER BY SUB_STARTDATE DESC
	</select>
	
	<select id="getTeacherSubject" resultMap="SubjectMapper" parameterType="map">
		SELECT *
		FROM SUBJECTS
		WHERE SUBJECTS.TEA_ID = #{teaId}
		<if test="year != null and year != ''">
			AND YEAR(SUBJECTS.SUB_STARTDATE) = #{year}
		</if>
		<if test="subName != null and subName != ''">
			AND SUBJECTS.SUB_NAME = #{subName}
		</if>
		ORDER BY SUB_STARTDATE DESC
	</select>
	
	<select id="listStudentSubject" resultMap="SubjectMapper" parameterType="map">
		SELECT *
		FROM SUBJECTS 
        JOIN TEACHERS ON SUBJECTS.TEA_ID = TEACHERS.TEA_ID
 		WHERE SUB_ID NOT IN (SELECT SUB_ID FROM STUDENT_SCORES WHERE
							 STUDENT_SCORES.STU_ID = #{stuId})
		<if test="teaName != null and teaName != ''">
			AND TEACHERS.TEA_NAME = #{teaName}
		</if>
		<if test="subName != null and subName != ''">
			AND SUBJECTS.SUB_NAME = #{subName}
		</if>
		ORDER BY SUB_STARTDATE DESC
	</select>
	
	<select id="getSubject" resultMap="SubjectMapper" parameterType="map">
		SELECT *
		FROM SUBJECTS NATURAL JOIN TEACHERS 
		WHERE SUB_ID = #{subId}
	</select>
	
	<insert id="insertSubject" parameterType="map">
		INSERT INTO SUBJECTS (SUB_NAME, SUB_STARTDATE, SUB_SCHEDULE, SUB_ROOM, SUB_TUITION, TEA_ID)
		VALUES (#{subName}, #{subStartdate}, #{subSchedule}, #{subRoom}, #{subTuition}, #{teaId})
	</insert>
	
	<delete id="deleteSubject" parameterType="map">
		DELETE FROM SUBJECTS 
		WHERE SUB_ID = #{subId};
	</delete>
	
	<update id="updateSubject" parameterType="map">
		UPDATE SUBJECTS
		SET SUB_NAME = #{subject.subName}, 
			SUB_STARTDATE = #{subStartdate}, 
			SUB_SCHEDULE = #{subject.subSchedule},
			SUB_ROOM = #{subject.subRoom}, 
			SUB_TUITION = #{subject.subTuition}, 
			TEA_ID = #{teaId}
		WHERE SUB_ID = #{subject.subId}
	</update>
	
</mapper>