<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.quanlytrungtamdayhoc.mapper.Submit_homeworkMapper">
	<resultMap id="BaseResultMap"
		type="com.quanlytrungtamdayhoc.dbo.Submit_homework">
		<id column="ANN_ID" jdbcType="INTEGER" property="annId" />
		<id column="STU_ID" jdbcType="INTEGER" property="stuId" />
		<result column="SUBMIT_DATE" jdbcType="DATE"
			property="submitDate" />
		<result column="SUBMIT_LINK" jdbcType="VARCHAR"
			property="submitLink" />
	</resultMap>

</mapper>