<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanlytrungtamdayhoc.mapper.TeacherMapper">
	<resultMap id="TeacherMapper" type="com.quanlytrungtamdayhoc.dbo.Teacher">
		<id property="teaId" column="TEA_ID"/>
		<result property="teaEmail" column="TEA_EMAIL"/>
		<result property="teaName" column="TEA_NAME"/>
		<result property="teaPhone" column="TEA_PHONE"/>
		<result property="teaAddress" column="TEA_ADDRESS"/>
		<result property="teaGender" column="TEA_GENDER"/>
		<result property="teaBirthdate" column="TEA_BIRTHDATE"/>
		<result property="teaHiredate" column="TEA_HIREDATE"/>
		<result property="teaSchool" column="TEA_SCHOOL"/>
		<result property="teaAvatar" column="TEA_AVATAR"/>
		<result property="teaSalaryrate" column="TEA_SALARYRATE"/>
	</resultMap>	
	
	<select id="getTeacher" resultMap="TeacherMapper" parameterType="map">
		SELECT *
		FROM TEACHERS
		WHERE TEA_EMAIL = #{tea_email}
	</select>
	
	<update id="updateTeacher" parameterType="map">
		UPDATE TEACHERS
		SET TEA_NAME = #{teacher.teaName}
		<if test="teacher.teaAddress != null">
		, TEA_ADDRESS = #{teacher.teaAddress}
		</if>
		<if test="teacher.teaSchool != null">
		, TEA_SCHOOL = #{teacher.teaSchool}
		</if>
		<if test="teacher.teaPhone != null">
		, TEA_PHONE = #{teacher.teaPhone}
		</if>
		<if test="teacher.teaGender != null">
		, TEA_GENDER = #{teacher.teaGender}
		</if>
		<if test="birthdate != null">
		, TEA_BIRTHDATE = #{birthdate}
		</if>
		WHERE TEA_EMAIL = #{email}
	</update>
	
</mapper>